@import '../../scss/variables';

.contract-card {
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: $text-dark;
  cursor: pointer;
  background-color: $background-white;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border: 1px solid #4dbec4;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0 10px;
    line-height: 1.2;
    word-wrap: break-word;

    &:nth-child(1) {
      width: 11.6%;
      padding: 0 10px 0 15px;
      font-weight: 500;
    }

    &:nth-child(2) {
      width: 12.5%;
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: 9.3%;
    }

    &:nth-child(5) {
      width: 14.1%;
     
    }

    &:nth-child(6) {
      justify-content: flex-start;
      width: 22%;
      
    }

    &:nth-child(7) {
      width: 9.6%;
    }

    &:nth-child(8) {
      width: 11.6%;
      padding: 0 15px 0 10px;
    }
  }
}
