@import '../../scss/variables';

.title {
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
  letter-spacing: 0.03em;

  &__heading {
    margin: 0 12px 0 0;
    font-size: 32px;
    font-weight: 700;
  }

  &__contracts-number {
    font-size: 28px;
    font-weight: 500;
    color: $gray;
  }
}
