@import '../../scss/variables';

.search-bar {
  position: relative;
  width: 321px;
  background-color: $background-white;
  border-radius: 10px;

  &__input {
    width: 85%;
    padding: 10px 15px;
    font-size: inherit;
    border: 1px solid transparent;
    border-radius: 10px 0 0 10px;

    &:focus {
      border: 1px solid $primary;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 5;
    fill: $primary;
    transform: translateY(-50%);
  }
}
