@import '../../scss/variables';

.contract-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 428px;
  padding: 30px;
  background-color: $background-white;
  border-radius: 20px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
  }

  &__row {
    display: flex;
    gap: 17px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__select-container {
    > span {
      font-weight: 500;
    }
  }

  &__select {
    position: relative;
    z-index: 5;
    width: 176px;
    margin: 8px 0 0;
    background-color: #f1f1f5;

    &:hover {
      border: 1px solid transparent;
    }

    &:focus {
      border: 1px solid #a4a5a6;
    }
  }

  &__controls-container {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

    button {
      margin: 0;
    }
  }

  &__button {
    display: inline-block;
    padding: 9px 15px;
    margin: 0 auto;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid $primary;
    border-radius: 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #eef8f9;
    }

    &_delete {
      border: 1px solid red;

      &:hover {
        background-color: #fef0f0;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    fill: $text-dark;
    transition: fill 0.3s ease;

    &:hover {
      fill: $primary;
    }
  }
}
